name: ML Training CI Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      # 3. Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 scikit-learn numpy pandas matplotlib docker

      # 4. Run MLflow Project (CI retraining)
      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      # 5. Build Docker image from local MLflow artifacts
      - name: Build Docker Image with MLflow
        run: |
          cd MLProject
          mlflow models build-docker \
            -m ./mlruns \
            -n ${{ secrets.DOCKERHUB_USERNAME }}/world-happiness-ml

      # 6. Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 7. Push Docker image
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/world-happiness-ml
