- name: Run MLflow Project
  run: |
    cd MLProject
    mlflow run .
- name: Build Docker Model
  run: |
    mlflow models build-docker \
      -m runs:/$(cat run_id.txt)/model \
      -n harneptune/world-happiness-ml
